.canvasWrapper {
    border-radius: 15px;
    overflow: hidden;
    height: 80vh;
    /* background-color: #1e1e1e; */
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.6);
    position: relative;
}

.canvas {
    transition: all ease-in;
}