.headerText {
    position: absolute;
    z-index: 10;
    top: 1.25rem;
    left: 1.25rem;
}

.sideBar {
    position: absolute;
    left: 0;
    bottom: 40vh;
    z-index: 10;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.086);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
}


.backBtn {
    position: absolute;
    z-index: 10;
    top: 1.25rem;
    right: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.backbutton{
    width: fit-content;
    font-weight: bold;
    font-size: small;
}

.filtertabs-container {
    position: absolute;
    bottom: 0;
    left: 42%;
    gap: 3rem;
    display: flex;

}