

.sideBar {
    position: absolute;
    left: 0;
    bottom: 40vh;
    z-index: 10;
    
}

.tabWrapper {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.086);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}

.backBtn {
    position: absolute;
    z-index: 10;
    top: 1.25rem;
    right: 1.25rem;
}

.backbutton{
    width: fit-content;
    font-weight: bold;
    font-size: small;
}

.filtertabs-container {
    position: absolute;
    bottom: 0;
    right: 50%;
    gap: 2rem;
    display: flex;

}