
.image{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.head-text {
    color: #fcfcfc;
    margin: 20px;
}

.br {
    display: block;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.paragraph {
    max-width: 28rem;
    font-size: medium;
    color: #fcfcfc;
    margin: 20px;
}
