
.image{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.droplinked {
    margin: 2rem;
    color: #ff0266;
}

.head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:3rem;
    color: #ff9db0;
    margin: 20px;
}

.br {
    display: flex;

}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.paragraph {
    max-width: 40rem;
    font-size: 2rem;
    color: #fcfcfc;
    margin: 20px;
}

.custBtn {
    width: fit-content;
    font-weight: bold;
    font-size: small;
}