.filepicker-container {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.086);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.fileWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.input {
    display: none;
}

.filepicker-lable {
    color: #fefefe;
    border: black 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filepicker-paragraph {
    padding: 1rem;
    color: #fefefe;
    display: flex;
    font-size: small;

}

.buttonWrapper {
    display: flex;
    gap: 1rem;
}

.logoBtn {
    font-size: 8px;
}

.fullBtn {
    font-size: 8px;
}