.tab-btn {
    margin: 8px;
}

.isfillter {
    border-radius: 50%;
}

.isfillterimg {
    width: 66.666667%;
    height: 66.666667%;
}

.notfillterimg{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.sidebarBtn {
    cursor: pointer;
  }
  