.tab-btn {
    margin: 8px;
}

.isfillter {
    border-radius: 50%;
}

.notfillter {

}

.isfillterimg {
    width: 66.666667%;
    height: 66.666667%;
}

.notfillterimg{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}