.wrapper{
    position: absolute;
    left: 100%;
    top: 0;
    width: 12rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.086);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
}

.textLabel{
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.inputText {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
}
.inputText:hover{
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}
.inputText:focus{
    background: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}
