* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
}


@font-face {
  font-family: "Avenir Next Font";
  src: local("Avenir Next Font"),
    url(./assets/font/Avenir\ Next\ Font.ttf) format("truetype");
}
